/*header*/

/*main*/
/*section-1*/

/*section-1*/

/*section-2-3*/

.advantages {
}

/*section2-3*/

/*section-4*/

/*section-4*/
/*main*/
/*footer*/
.container.footer {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  display: inline-block;
  margin-bottom: 16px;
}
.text-footer {
  max-width: 264px;
}

.footer-social {
}

.footer-soc-item {
}

.footer-subscribe-text {
}
.footer-input {
}

.footer-btn {
  /*m0a*/
}

/*footer*/
/*modal*/

.modal {
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
}

.modal-form {
}

.modal-input-wrapper input {
}

/*check*/

/*check*/

/*experiment*/
/*experiment*/
/*modal*/
